<footer class="footer_whitelake__">
	<div class="footertext_whitelake__"><a class="subscribe_whitelake__ icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_whitelake__">RSS</span></a>
    - Copyright &copy; 2013 - {{@blog.title}} - Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a> - Theme by <a href="http://www.gehaxelt.in">Gehaxelt</a> and <a href="http://www.it-solutions-neef.de">IT Solutions Neef</a></div>
</footer>