<div role='banner' class="header_whitelake__">
	<nav class="pure-menu pure-menu-horizontal">
	    <a href="{{@blog.url}}" class="pure-menu-heading">
	    	{{{@blog.title}}}<span class="blog_description_whitelake__"> - {{@blog.description}}</span>
	    </a>
	</nav>
	{{navigation}}
</div>